/* Reset básico de margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #f4f4f4;
    color: #56506b;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-height: 0vh; /* Garante que o body tenha pelo menos a altura da tela */
    overflow-x: hidden; /* Evita scroll horizontal */
}

/* Estilizando o cabeçalho */
header {
    background: rgba(51, 51, 51); /* Cor de fundo com opacidade */
    color: #7d74a1;
    padding: 9px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Estilizando o conteúdo principal */
main {
    padding: 20px; /* Ajustado */
    max-width: 100%;
    background: rgba(255, 255, 255, 0.9); /* Cor de fundo com opacidade */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Estilizando os títulos */
h1, h2 {
    color: #333;
}

/* Estilizando a lista de projetos */
ul {
    list-style: none;
    padding: 0; /* Adicionado para remover o padding padrão */
}

li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

li h2 {
    margin-bottom: 5px;
}

footer {
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: end;
    padding: 10px 0;
    /* Removido position: fixed */
}

.profile-container {
    display: flex;
    align-items: center; /* Alinha a imagem e o texto verticalmente */
}

.profile-img {
    border-radius: 5%;
    min-width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 20px 0;
}


/* Tornando o layout responsivo */
@media (max-width: 768px) {
    header nav ul {
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    .profile-container {
        flex-direction: column; /* Alinha a imagem e o texto verticalmente em telas pequenas */
        text-align: center;
    }

    .profile-img {
        margin: 20px auto; /* Ajusta a margem para centralizar a imagem em telas pequenas */
    }
}
